<p>Dynmic Material Grid Example !</p>

<mat-grid-list [cols]="4" gutterSize="25px" [rowHeight]="rowHeight" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
        {{tile.text}}
        <p style="float: right; align-content: flex-end;">dd ii</p>
    </mat-grid-tile>
</mat-grid-list>

<br/> reponsive grid :
<br/>

<mat-grid-list [cols]="breakpoint" rowHeight="2:2" (window:resize)="onResize($event)">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
</mat-grid-list>